<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168686532840-8p60bpmnb7ka3b6ukf1d9itkjek2bnvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168686532840-8p60bpmnb7ka3b6ukf1d9itkjek2bnvb</string>
	<key>API_KEY</key>
	<string>AIzaSyBUpACUu-mqIixfZDM6F_PvgziFlynUPTc</string>
	<key>GCM_SENDER_ID</key>
	<string>168686532840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bee.library-online-app</string>
	<key>PROJECT_ID</key>
	<string>library-online-3ec9d</string>
	<key>STORAGE_BUCKET</key>
	<string>library-online-3ec9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168686532840:ios:31f3276ba45203b428b15d</string>
</dict>
</plist>